@import '../../_styles/variables';

.people {
  &-item {
    background-color: $greyW;
    width: 100%;
    margin-bottom: #{$gutter * 2};
    padding: #{$gutter + 3} #{$gutter};
    position: relative;
    transition: all 250ms ease-out !important;
    overflow: hidden;
    cursor: pointer;
    @extend %elevate;
    @media(min-width: $tabletMin) {
      width: calc(50% - #{$gutter});
    }
    @media(min-width: $desktopMin) {
      width: calc(25% - #{$gutter * 1.5});
    }
    &:hover {
      background-color: $violet;
      .people {
        &-name, &-team {
          color: white;
        }
        &-twitter {
          fill: $yellow;
        }
        &-avatar-wrapper {
          &:before, &:after {
            background-color: $yellow;
          }
          &:before {
            transform: translate3d(-100%, 0, 0);
          }
          &:after {
            transform: translate3d(100%, 0, 0);
          }
        }
      }
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  &-avatar {
    height: auto;
    width: 135px;
    position: relative;
    z-index: 2;
    box-shadow: $shadow;
    vertical-align: middle;
    &-wrapper {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: $gutter;
      @extend %trick;
      @extend %trick-hover;
      &:before, &:after {
        opacity: 0;
      }
      &:before {
        transform: translate3d(100%, 0, 0);
      }
      &:after {
        transform: translate3d(-100%, 0, 0);
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-name, &-team {
    text-align: center;
    transition: color 250ms ease-out;
  }
  &-name {
    color: $violet;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &-team {
    font-size: 13px;
    line-height: 13px;
    font-weight: 300;
  }
  &-twitter {
    fill: $violet;
    width: 24px;
    height: auto;
    margin-top: $gutter;
    transition: fill 250ms ease-out;
  }
}

.animated {
  .people-avatar-wrapper {
    &:before, &:after {
      opacity: 1;
    }
    &:before {
      transform: translate3d(0, 0, 0);
    }
    &:after {
      transform: translate3d(0, 0, 0);
    }
  }
}


