@import '../../_styles/variables';

.people {
  &-item {
    background-color: #f5f5f5;
    width: 23%;
    margin-bottom: #{$gutter * 2};
    padding: #{$gutter + 3} #{$gutter};
    position: relative;
    transition: all 500ms ease-out, background-color 250ms ease-out;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      background-color: $violet;
      transform: translate3d(0, -2px, 0);
      &:before {
        opacity: 1;
      }
      .people {
        &-name, &-team {
          color: white;
        }
        &-twitter {
          fill: $yellow;
        }
        &-avatar-wrapper {
          &:before, &:after {
            background-color: $yellow;
          }
        }
      }
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  &-avatar {
    height: auto;
    width: 135px;
    position: relative;
    z-index: 2;
    box-shadow: 0 4px 4px 0 rgba(45, 45, 45, 0.1);
    vertical-align: middle;
    &-wrapper {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin-bottom: $gutter;
      &:before, &:after {
        content: '';
        background-color: $violet;
        height: 5px;
        position: absolute;
        box-shadow: 0 4px 4px 0 rgba(45, 45, 45, 0.1);
        transition: all 100ms ease-out;
      }
      &:before {
        bottom: #{$gutter / 2};
        left: $gutter;
        right: #{$gutter * -1};
      }
      &:after {
        content: '';
        top: #{$gutter / 2};
        left: #{$gutter * -1};
        right: $gutter;
        z-index: 3;
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-name, &-team {
    text-align: center;
    transition: color 250ms ease-out;
  }
  &-name {
    color: $violet;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &-team {
    font-size: 13px;
    line-height: 13px;
    font-weight: 300;
  }
  &-twitter {
    fill: $violet;
    width: 32px;
    height: auto;
    margin-top: $gutter;
    transition: fill 250ms ease-out;
  }
}


