@import '../../_styles/variables';

.banner {
  background-color: $green;
  padding: #{$gutter * 6} #{$gutter};
  &-flex {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  &-text {
    color: white;
    margin-right: #{$gutter * 2};
    @media( min-width: $tabletMin) {
      font-size: 24px;
    }
  }
}
