// graphonebar styles

.go-bar {
  width: calc((100% / 6) - #{$gutter} * 2);
  position: relative;
  @media(max-width: $tabletMax) {
    width: calc((100% / 6) - #{$gutter});
  }
  @media(max-width: $mobileMax) {
    width: calc((100% / 6) - #{$gutter / 2});
  }
  @for $i from 1 through 7 {
    &:nth-child(#{$i}) {
      .go-bar {
        &-men {
          transition: transform 1.5s cubic-bezier(0, 0, 0.56, 1.26) #{($i - 1) * 750ms};
        }
        &-women {
          transition: transform 750ms cubic-bezier(0, 0, 0.56, 1.26) #{$i * 750ms};
        }
        &-percentage {
          transition: opacity 750ms ease-out #{$i * 750ms};
        }
      }
    }
  }
  &.animated {
    .go-bar {
      &-men, &-women {
        transform: scale(1, 1);
      }
      &-percentage {
        opacity: 1;
      }
    }
  }
  &-top {
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }
  &-men {
    background-color: $green;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scale(1, 0);
    transform-origin: bottom;
  }
  &-women {
    color: white;
    text-align: center;
    background-color: $violet;
    width: 100%;
    padding-bottom: $gutter;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1, 0);
    transform-origin: bottom;
  }
  &-percentage {
    opacity: 0;
  }
  &-year {
    color: $black;
  }
}