$violet: #9b5ea5;
$green: #509587;
$yellow: #f8e71c;
$black: #4a4a4a;

$gutter: 16px;
$radius: 4px;

// MediaQuery

$mobileMax: 767px;
$tabletMin: 768px;
$tabletMax: 1059px;
$desktopMin: 1060px;
$desktopMax: 1399px;
$lgMin: 1400px;