$violet: #9b5ea5;
$green: #509587;
$yellow: #f8e71c;
$black: #4a4a4a;
$greyW: #f5f5f5;

$gutter: 16px;
$radius: 4px;
$shadow: 0 4px 4px 0 rgba(45, 45, 45, 0.1);

// MediaQuery

$mobileMax: 767px;
$tabletMin: 768px;
$tabletMax: 1059px;
$desktopMin: 1060px;
$desktopMax: 1399px;
$lgMin: 1400px;