// graphone styles

@import '../../_styles/variables';

.gt {
  &-flex {
    display: flex;
    @media(max-width: $mobileMax) {
      flex-direction: column;
    }
  }
  &-content, &-rows {
    @media(min-width: $tabletMin) {
      width: 50%;
    }
  }
}