// hero styles

@import '../../_styles/variables';

.hero {
  background-color: white;
  background-image: url('/images/hero.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  &:before {
    content: '';
    background-color: rgba(black, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-content {
    color: white;
    background-color: rgba($violet, 0.9);
    padding: #{$gutter * 2};
    border-radius: $radius;
    position: relative;
    z-index: 2;
    @media(max-width: $mobileMax) {
      padding: #{$gutter * 2} $gutter;
    }
  }
  &-title {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    @media(max-width: $tabletMax) {
      font-size: 40px;
      line-height: 40px;
    }
    @media(max-width: $mobileMax) {
      font-size: 24px;
      line-height: 24px;
    }
  }
  &-buttons {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    @media(max-width: $mobileMax) {
      flex-direction: column;
    }
  }
}
