@import '../../_styles/variables';

.quotes-slide {
  display: flex;
  flex-direction: column;
  align-content: center;
  &-avatar {
    height: auto;
    width: 200px;
    position: relative;
    z-index: 2;
    box-shadow: $shadow;
    vertical-align: middle;
    &-wrapper {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: $gutter;
      @extend %trick;
    }
  }
  &-trick {
    margin: 0 auto;
    @media(min-width: $tabletMin) {
      max-width: 80%;
    }
    @media(min-width: $desktopMin) {
      max-width: 70%;
    }
  }
  &-content {
    background-color: $yellow;
    padding: #{$gutter * 2};
    position: relative;
    z-index: 2;
    @media (min-width: $tabletMin) {
      padding: #{$gutter * 2};
    }
  }
  &-name, &-team {
    font-weight: bold;
    text-align: center;
    display: block;
  }
  &-name {
    color: $violet;
    font-size: 22px;
  }
}
