@import '../../_styles/variables';

.press-slide {
  &-wrapper {
    display: block;
    cursor: pointer;
    @extend %elevate;
    &:hover {
      .press-slide-text {
        background-color: $yellow;
        color: $black;
      }
    }
  }
  &-media {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: fill;
    &-wrapper {
      padding-bottom: 56.25%;
      position: relative;
      height: 0;
    }
  }
  &-text {
    color: white;
    background-color: $violet;
    padding: $gutter;
    display: block;
    transition: all 200ms ease-out;
  }
}
